<!DOCTYPE html>
{% load static %}
<html lang="ru"> 
  <head>    
      {% include "includes/head.html" %}
    <title>{{ post.location }}. {{ post.date }}</title>
  </head>
  <body>	   
    <header>
        {% include "includes/header.html" %}
    </header>
    <main>
      <div class="container py-5">
        <article>
          <ul>
            <li>Место: {{ post.location }}</li>
            <li>Дата: {{ post.date }}</li>
            <li>Категория: <a href="{% url 'blog:category_posts' category_slug=post.category %}">{{ post.category }}</a></li>
          </ul>
          <p>{{ post.text }}</p>
        </article>                
      </div>
    </main>
    <footer class="border-top text-center py-3">
      <p>© Блогикум</p>    
    </footer>
  </body>
</html>
